h2, h3, h4, p{
  margin: 0;
  padding: 10px;
}

header{
  display: flex;
  justify-content: center;
  height: 195px;
  align-items: center;
  flex-direction: column;
}

header h1{
  font-size: 48px;
}

nav p{
  display: inline-block;
}

.mission{
  background-image: url(../images/skyscrapers.jpg);
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}


.content{
  text-align: center;
  flex-grow: 1;
  background-color: white;
}

#portfolio{
  padding-top: 70px;
  min-height: 500px;
}

.companies{
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
}

.company{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}



.company img{
  padding: 10px;
  width: 200px;
  height: auto;
}
